* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 0.9375rem;
    background-color: hsl(0, 0%, 98%);
    padding: 0.938rem;
}

.feature {
    text-align: center;
    max-width: 36.4375rem;
    margin: 0 auto;
}

span {
    font-weight: 200;
    font-size: 1.95rem;
    color: hsl(229, 6%, 66%);
}

h1 {
    font-size: 2rem;
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

.feature__info-text {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    margin: 1rem auto 4rem auto;
    width: 90%;

}

.flex-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5625rem;
}

.flex-grid-item {
    padding: 1.563rem;
    box-shadow: 0 1rem 1rem rgba(22, 8, 147, 0.119);
    border-radius: 0.25rem;
    max-width: 23.438rem;
    margin: 0 auto;
}

#green {
    border-top: 0.25rem solid hsl(180, 62%, 55%);
}

#red {
    border-top: 0.25rem solid hsl(0, 78%, 62%);
}

#orange {
    border-top: 0.25rem solid hsl(34, 97%, 64%);
}

#blue {
    border-top: 0.25rem solid hsl(212, 86%, 64%);
}

h2 {
    color: hsl(234, 12%, 34%);
}

.container__text {
    color: hsl(229, 6%, 66%);
    margin-top: 0.3125rem;
    margin-bottom: 3rem;
}

img {
    display: block;
    margin-left: auto;
    
}

.attribution { 
    font-size: 0.688rem; 
    text-align: center;
    margin-top: 1.563rem;
 }

.attribution a {
    color: hsl(228, 45%, 44%);
 }

 @media (min-width: 56.25rem) {
    .flex-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        max-width: 1206px;
        margin: -8rem auto;
    }

    #green {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #orange {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        transform: translateY(-55%);
    }

    #blue {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #red {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        transform: translateY(55%);
    }

    .attribution { 
        margin-top: 9.275rem;
     }
}

@media (min-width: 75.375rem) {
    .flex-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        max-width: 1206px;
        margin: -8rem auto;
    }

    #green {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #orange {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        transform: translateY(-55%);
    }

    #blue {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #red {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        transform: translateY(55%);
    }

}


